/*! Main body */
* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: calc(10px + 1vw);
}

.container {
    display: grid;
    grid-template-columns: minmax(calc(230px + 5vw), 0.7fr) 3fr;
    margin: 0;
}

.sidebar,
.main {
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: darksalmon;
}
.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.menu {
    grid-row: 1 / 2;
    align-self: start;
    height: 20%;
}

/*! Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    > * {
        padding-left: calc(25px + 0.75vw);
    }
}

.sidebar > .logo {
    flex: 0.7;
    gap: calc(10px + 0.3vw);

    padding-top: calc(30px + 1vw);

    > img {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: -5px;
        margin-left: 3px;
    }

    > span {
        font-size: 1.6rem;
        color: white;
        font-weight: 600;
        letter-spacing: 0.1em;
    }
}

.sidebar > .items-top {
    flex: 2.2;
    display: flex;
    flex-direction: column;
}

.items-top > ul,
.items-bottom > ul {
    display: flex;
    flex-direction: column;
    gap: calc(20px + 0.3vw);
}

.sidebar > .items-bottom {
    padding-top: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    letter-spacing: 0.03em;

    > .list-item {
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        font-weight: 550;
        gap: calc(4px + 0.1vw);
        color: white;
    }
}

li > img,
.logo > img {
    object-fit: contain;
    width: 1.15rem;
    height: 1.15rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

li > img {
    padding-right: 1rem;
}

.logo > img {
    padding-right: calc(1rem - 10px);
}

/*! Top Right Menu */
.menu {
    display: grid;
    grid-row: 1 / 2;
    grid-template-rows: 2fr 3fr;
}

.menu-top {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 5px;

    > * {
        padding-left: calc(29px + 0.75vw);
    }
}

.menu-bottom {
    grid-row: 2 / 3;
}

.menu-top-left {
    display: grid;
    grid-template-columns: 1fr 10fr;
    flex: 2;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.search-icon {
    grid-column: 1 / 2;
    height: 30px;
    width: 30px;
    object-fit: contain;
    justify-self: center;
    padding-right: calc(3px + 0.5vw);
}

.search-bar {
    grid-column: 2 / 3;
    background-color: gainsboro;
    height: 30px;
    border-radius: 50px;
}

.menu-top-right {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.notification-icon {
    height: 35px;
    width: 35px;
    object-fit: contain;
    grid-column: 1 / 2;
    justify-self: right;
    padding-left: calc(10px + 0.5vw);
}

.profile-icon {
    height: 43px;
    width: 43px;
    object-fit: contain;
    grid-column: 2 / 3;
    justify-self: right;
}

.username {
    grid-column: 3 / 4;
    font-size: 0.75rem;
    font-weight: 600;
    justify-self: center;
}

/*! menu-bottom */
.menu-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0px;
}

.menu-bottom-left {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    margin-left: 40px;

    > .profile-icon {
        justify-self: center;
        flex: 1;
        height: 80px;
        width: 80px;
    }

    > .introduction {
        flex: 5;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        > .greeting {
            font-size: 0.6rem;
            font-weight: 100;
        }

        > .username {
            font-size: 0.9rem;
            font-weight: 600;
        }
    }
}

.menu-bottom-right {
    grid-column: 2 / 3;
    align-items: center;
    display: flex;
    justify-self: right;
    gap: 30px;
    margin-right: 50px;
}

.menu-bottom-right > button {
    background-color: darksalmon;
    color: white;
    border: none;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.7rem;
    font-weight: 100;

    > div {
        font-size: 0.6rem;
    }
}

/* !Content */
.content {
`    grid-row: 2 / 3;
    grid-template-columns: 2fr 1fr;

    > * {
        border: 1px solid black;
    }
}

.left-content {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    > * {
        border: 1px solid black;
    }
}

.right-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 4fr;

    > * {
        border: 1px solid black;
    }
}

/* !Card */

.card {
    position: relative;
    height: 85%;
    width: 95%;
    justify-self: center;
    align-self: center;
    border: 1px solid black;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 2fr 2fr;
}

.left-border {
    height: 100%;
    width: 19px;
    position: absolute;
    background-color: black;
    border-top-left-radius: 10.5px;
    border-bottom-left-radius: 10.5px;
}

.text-content {
    /* margin-left: 50px;
    margin-top: 70px;
    margin-right: 50px; */
    grid-row: 1 / 2;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 20px;
    padding-right: 30px;

    > * {
        margin: 0;
    }

    > .title {
        font-size: calc(10px + 0.6rem);
        font-weight: 550;
        margin-right: auto;
        margin-top: auto;
        flex: 1;
    }

    > .detail-content {
        font-size: calc(8.25px + 0.4rem);
        flex: 2;
        flex-wrap: wrap;
    }
}
