/*! Main body */
* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: calc(10px + 1vw);
}

.container {
    display: grid;
    grid-template-columns: minmax(calc(230px + 5vw), 0.7fr) 3fr;
    margin: 0;
}

.sidebar,
.main {
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: indigo;
}
.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.menu {
    grid-row: 1 / 2;
    align-self: start;
    height: 20%;
}

/*! Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    > * {
        padding-left: calc(25px + 0.75vw);
    }
}

.sidebar > .logo {
    flex: 0.7;
    gap: calc(10px + 0.3vw);

    padding-top: calc(30px + 1vw);

    > img {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: -5px;
        margin-left: 3px;
    }

    > span {
        font-size: 1.6rem;
        color: white;
        font-weight: 600;
        letter-spacing: 0.1em;
    }
}

.sidebar > .items-top {
    flex: 2.2;
    display: flex;
    flex-direction: column;
}

.items-top > ul,
.items-bottom > ul {
    display: flex;
    flex-direction: column;
    gap: calc(20px + 0.3vw);
}

.sidebar > .items-bottom {
    padding-top: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    letter-spacing: 0.03em;

    > .list-item {
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        font-weight: 550;
        gap: calc(4px + 0.1vw);
        color: white;
    }
}

li > img,
.logo > img {
    object-fit: contain;
    width: 1.15rem;
    height: 1.15rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

li > img {
    padding-right: 1rem;
}

.logo > img {
    padding-right: calc(1rem - 10px);
}

/*! Top Right Menu */
.menu {
    display: grid;
    grid-row: 1 / 2;
    grid-template-rows: 2fr 3fr;
}

.menu-top {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 5px;

    > * {
        padding-left: calc(29px + 0.75vw);
    }
}

.menu-bottom {
    grid-row: 2 / 3;
}

.menu-top-left {
    display: grid;
    grid-template-columns: 1fr 10fr;
    flex: 2;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.search-icon {
    grid-column: 1 / 2;
    height: 30px;
    width: 30px;
    object-fit: contain;
    justify-self: center;
    padding-right: calc(3px + 0.5vw);
}

.search-bar {
    grid-column: 2 / 3;
    background-color: gainsboro;
    height: 30px;
    border-radius: 50px;
}

.menu-top-right {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.notification-icon {
    height: 28px;
    width: 28px;
    object-fit: contain;
    grid-column: 1 / 2;
    justify-self: right;
    padding-left: calc(10px + 0.5vw);
}

.profile-icon {
    height: 43px;
    width: 43px;
    object-fit: contain;
    grid-column: 2 / 3;
    justify-self: right;
}

.username {
    grid-column: 3 / 4;
    font-size: 0.75rem;
    font-weight: 600;
    justify-self: center;
}

/*! menu-bottom */
.menu-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0px;
}

.menu-bottom-left {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    margin-left: 40px;

    > .profile-icon {
        justify-self: center;
        flex: 1;
        height: 80px;
        width: 80px;
    }

    > .introduction {
        flex: 5;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        > .greeting {
            font-size: 0.6rem;
            font-weight: 100;
        }

        > .username {
            font-size: 0.9rem;
            font-weight: 600;
        }
    }
}

.menu-bottom-right {
    grid-column: 2 / 3;
    align-items: center;
    display: flex;
    justify-self: right;
    gap: 30px;
    margin-right: 50px;
}

.menu-bottom-right > button {
    background-color: indigo;
    color: white;
    border: none;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.7rem;
    font-weight: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added drop shadow */
    > div {
        font-size: 0.6rem;
    }
}

/* !Content */
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 215, 230);
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    width: 97.5%;
}

.left-content {
    grid-column: 1 / 2;
    height: 89.25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 10px;

    > * {
        align-items: center;
        justify-content: center;
    }
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 21px;

    > * {
        margin-top: 20px;
        margin-bottom: -5px;
        font-size: 18px;
        font-weight: 600;
    }
}

.your-projects {
    grid-column: 1 / 2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcements {
    grid-column: 3 / 4;
    margin-left: -5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Card details */

.card {
    position: relative;
    align-self: center;
    height: 87.5%;
    width: 92.5%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    > .left-border {
        position: absolute;
        height: 100%;
        width: 7.5px;
        background-color: black;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    > .content-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 73%;
        margin-left: 25px;
        margin-top: 30px;
        overflow: auto;

        > .text-container {
            width: 90%;
            display: flex;
            flex-direction: column;

            > .title-1 {
                font-size: 0.75rem;
                font-weight: 600;
                padding-bottom: 5px;
            }

            > .description {
                font-size: 0.5rem;
            }
        }

        > .symbols {
            align-self: flex-end;
            display: flex;
            margin-top: auto;
            margin-left: auto;
            margin-right: 15px;
            gap: 30px;

            > img {
                width: 20px;
                height: 20px;
            }

            > img[src="icons/export-variant.svg"] {
                padding-right: 10px;
            }
        }
    }
}

/* Card formatting */

.left-card-1 {
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.left-card-2 {
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.left-card-3 {
    justify-self: center;
    grid-row: 2 / 3;
}
.left-card-4 {
    justify-self: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.left-card-5 {
    justify-self: center;
    grid-row: 3 / 4;
}

.left-card-6 {
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.right-content {
    grid-column: 2 / 3;
    height: 90%;
    grid-template-rows: 1fr 1fr;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 14px;
    gap: 20px;

    > div {
        height: 100%;

        border-radius: 5px;
    }
}

.right-card-1 {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-card-2 {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: transparent;
}

.announcement-1 {
    grid-row: 1 / 2;
    border-bottom: 1px solid lightgray;
    width: 85%;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.announcement-2,
.announcement-3 {
    border-bottom: 1px solid lightgray;
    width: 85%;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.announcement-2 {
    grid-row: 2 / 3;
}

.announcement-3 {
    grid-row: 3 / 4;
}

.text-container-1 {
    width: 80%;
    margin-top: 18px;
}

.title-1 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
}

.content-1 {
    font-size: 10px;
    padding-bottom: 10px;
    width: 120%;
}

/* second right card */

.title-2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-itself-2 {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-cards-1 {
    grid-row: 1 / 2;
}

.profile-cards-2 {
    grid-row: 2 / 3;
}

.profile-cards-3 {
    grid-row: 3 / 4;
}

.profile-cards-4 {
    grid-row: 4 / 5;
}

.profile-cards {
    width: 80%;
    justify-self: left;
    padding-left: 20px;
    align-self: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.icon > img {
    height: 45px;
    width: 45px;
    align-self: center;
    padding-right: 5px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 10px;
}
.at {
    font-size: 13px;
    padding-bottom: 2px;
}

.tagline {
    font-size: 11px;
    color: gray;
}
